.hidden {
  display: none;
}
.slider {
  background-color: bisque;
}

.wrraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

h1 {
  text-align: center;
  background-color: rgb(241, 205, 161);
  padding: 30px;
  margin-top: -10px;
}

.button {
  color: azure;
  margin-top: 10px;
}
button {
  color: black;
  background-color: rgb(237, 215, 187);
  width: 80px;
  height: 30px;
}
.slider img {
  width: 460px;
}
